<h2>
  <%= page_title %>
</h2>

<% trip = Trip.find(params[:id]) %>

<%= form_for [@passenger, @trip] do |f| %>
  <%= f.label :date, "Date: " %>
  <%= f.date_field :date %>

  <%= f.label :driver, "Driver: " %>
  <%= f.select :driver_id, Driver.all.pluck(:name, :id) %>

  <%= f.label :passenger, "Passenger: " %>
  <%= f.select :passenger_id, Passenger.all.pluck(:name, :id) %>

  <%= f.label :cost, "Cost: " %>
  <%= f.number_field :cost %>

  <%= f.label :rating, "Rating: " %>
  <%= f.number_field :rating %>

  <%= f.submit %>


<% end %>
