<h2>Trip Details</h2>

<div class="intro">
  <div>
    <strong>Trip Id:</strong> <%= @trip.id %>
  </div>
</div>

<table class="trip_show">
  <tr>
    <th>Date</th>
    <th>Driver</th>
    <th>Passenger</th>
    <th>Cost</th>
    <th>Rating</th>
  </tr>

  <tr>
    <td><%= @trip.date %></td>

    <td><%= @trip.driver.name %></td>
    <td><%= @trip.passenger.name %></td>

    <td><%= @trip.cost %></td>

    <% if @trip.rating.nil? %>

      <td><%= form_for [@trip.passenger, @trip] do |f| %>
        <%= f.number_field :rating %>

        <%= f.submit "Save"%></td>
      <% end %>

    <% else %>

      <td><%= @trip.rating %></td>

    <% end %>

    <td><%= link_to "Edit", edit_passenger_trip_path(@trip.passenger.id, @trip.id) %></td>
    <td><%= link_to "Delete", passenger_trip_path(@trip.passenger.id, @trip.id), method: :delete, data: {confirm: "Do you really want to delete trip #{@trip.id}?"} %></td>
  </tr>


</table>
