<h4>
  <%= page_title %>
</h4>

<%= render partial: "layouts/error_messages", locals: { model: @passenger } %>

<%= form_for @passenger do |f| %>
  <%= f.label :name, "Name: " %>
  <%= f.text_field :name %>

  <%= f.label :phone, "Phone Number: " %>
  <%= f.text_field :phone_num %>

  <%= f.submit %>


<% end %>
