<h2>Passenger</h2>

<%= link_to("Add a New Passenger", new_passenger_path) %>

<% @passengers.each do |passenger| %>
  <ul class="passengers">
    <li><%= link_to passenger.name, passenger_path(passenger) %></li>
    <li><%= link_to passenger.phone_num, passenger_path(passenger) %></li>
    <li><%= link_to "Edit", edit_passenger_path(passenger) %></li>
    <li><%= link_to("Delete", passenger_path(passenger), method: :delete, data: { confirm: "Do you really want to delete #{passenger.name}?"}) %></li>
  </ul>
<% end %>
<%= will_paginate @passengers %>
