<h2>Passenger</h2>

<ul>
  <li>Name: <%= @passenger.name %></li>
  <li>Phone Number: <%= @passenger.phone_num %></li>
</ul>

<table>
  <tr>
    <th>Trip Id</th>
    <th>Date</th>
    <th>Driver Id</th>
    <th>Cost</th>
    <th>Rating</th>
  </tr>

  <% @passenger.trips.each do |trip| %>
    <tr>
        <td><%= trip.id %></td>
        <td><%= trip.date %></td>
        <td><%= trip.driver_id %></td>
        <td><%= trip.cost %></td>
        <td><%= trip.rating %></td>
    </tr>
  <% end %>
</table>
