<h2>Passenger Details</h2>

<div class="intro">
  <div><strong>Name:</strong> <%= @passenger.name %></div>
  <div><strong>Phone:</strong> <%= @passenger.phone_num %></div>

  <strong><%= "#{@passenger.name} has spent a total of $#{@passenger.total_cost}." %></strong>
</div>

<%= link_to "Request Trip", passenger_trip_path(@passenger.id), method: :post, data: {confirm: "Do you really want to request a trip for #{@passenger.name}?"} %>

<table class="passengers_show">
  <tr>
    <th>Trip Id</th>
    <th>Date</th>
    <th>Driver Name</th>
    <th>Cost</th>
    <th>Rating</th>
  </tr>

  <% @passenger.trips.sort.each do |trip| %>
    <tr>
        <td><%= trip.id %></td>
        <td><%= trip.date %></td>
        <td><%= trip.driver.name %></td>
        <td><%= trip.cost %></td>
        <td><%= trip.rating %></td>
        <td><%= link_to "Delete", passenger_trip_path(@passenger.id, trip.id), method: :delete, data: {confirm: "Do you really want to delete trip #{trip.id}?"} %></td>
    </tr>
  <% end %>

</table>
