<h2>
  <%= page_title %>
</h2>

<%= render partial: "layouts/error_messages", locals: { model: @driver } %>

<%= form_for @driver do |f| %>
  <%= f.label :name, "Name: "%>
  <%= f.text_field :name %>

  <%= f.label :vin, "Vin: " %>
  <%= f.text_field :vin %>

  <%= f.submit %>
<% end %>
