<h2>Drivers Index </h2>

  <% @drivers.each do |driver| %>
  <ul class = "drivers">
    <li><%=link_to driver.name, driver_path(driver) %></li>
    <li><%= link_to driver.vin, driver_path(driver) %></li>
    <li><%= link_to "Edit", edit_driver_path(driver) %></li>
    <li><%= link_to "Delete", driver_path(driver), method: :delete, data: {confirm: "Do you really want to delete #{@driver.name}?"} %></li>
  </ul>

  <%end%>

<%= will_paginate @drivers %>
