<h2>Drivers Details</h2>

<div class="intro">
  <strong>Name:</strong> <%= @driver.name %>
  <strong>VIN:</strong> <%= @driver.vin %>

  <strong><%= "#{@driver.name} has earned $#{@driver.total_earnings} in total" %></strong>
  <strong><%= "Rating: #{@driver.avg_rating}" %></strong>

</div>

<table>
  <tr>
    <th>Id</th>
    <th>Date</th>
    <th>Passenger</th>
    <th>Price </th>
    <th>Rating </th>
    <th>Delete</th>
  </tr>

  <% @driver.trips.sort.each do |trip| %>
    <tr>
        <td><%= trip.id %></td>
        <td><%= trip.date %></td>
        <td><%= trip.passenger_id %></td>
        <td><%= trip.cost %></td>
        <td><%= trip.rating %></td>
        <td><%= link_to "Delete", driver_path(@driver), method: :delete, data: {confirm: "Do you really want to delete #{@driver.name}?"} %></td>
    </tr>
  <% end %>
</table>
