<!DOCTYPE html>

<html>

<link href="https://fonts.googleapis.com/css?family=Poor+Story" rel="stylesheet">

  <head>
    <title>RideshareRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <div><%= link_to root_path do %> <%= image_tag "car.jpg", alt: "car" %><% end %></div>
    <div>
      <%= link_to "Home", root_path %>
    </div>
    <div>
      <%= link_to "Drivers", drivers_path %></br>
      <%= link_to "Add Driver", new_driver_path %>
    </div>
    <div>
      <%= link_to "Passengers", passengers_path %></br>
      <%= link_to "Add Passenger", new_passenger_path %>
    </div>
  </header>

  <body>

    <%= yield %>
  </body>
</html>
